@import "designs.scss";
@import "addons.scss";
@import "oratstjpa.scss";

/* This file prefixes all rules with the theme name to avoid causing conflicts with other themes. */
/* The actual styles should be defined in oratstjpa.scss */
.oratstjpa {
  @include addons;
  @include oratstjpa;
}
.backgrWhite {
  @extend oratstjpa;
  background: white;
  border: 1px solid #ddd;
}

.solidOut{
  @extend oratstjpa;
  border: 1px solid #ddd;
}

